Source: ros-humble-pal-pro-gripper-description
Section: misc
Priority: optional
Maintainer: David ter Kuile <david.terkuile@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-xacro, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-pal-pro-gripper-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-pal-urdf-utils, ros-humble-xacro, ros-humble-ros-workspace
Description: The pal_pro_gripper_description package
