Source: ros-humble-pal-pro-gripper-wrapper
Section: misc
Priority: optional
Maintainer: user <matteovillani@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-humble-ament-cmake-python, ros-humble-ament-copyright <!nocheck>, ros-humble-ament-flake8 <!nocheck>, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ament-pep257 <!nocheck>, ros-humble-rclpy, ros-humble-sensor-msgs, ros-humble-trajectory-msgs, ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-pal-pro-gripper-wrapper
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-humble-rclpy, ros-humble-ros-workspace
Description: Grasp controller to close with a determined error on position only so to skip overheating.
