<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="mj_gripper_actuators" params="name mj_control">
        <xacro:include filename="$(find pal_pro_gripper_description)/urdf/gripper_limits.xacro" />
        <xacro:if value="${mj_control == 'position'}">
            <position name="${name}_finger_joint_position" joint="${name}_finger_joint" kp="100" ctrlrange="${finger_lower_limit} ${finger_upper_limit}" />
        </xacro:if>
        <xacro:if value="${mj_control == 'motor'}">
            <motor name="${name}_finger_joint_motor" joint="${name}_finger_joint"  ctrllimited="true" ctrlrange="-${finger_mj_max_effort} ${finger_mj_max_effort}" />
        </xacro:if>
    </xacro:macro>


    <xacro:macro name="mj_gripper_contact" params="name">
        <exclude body1="${name}_inner_finger_left_link"  body2="${name}_outer_finger_left_link"/>
        <exclude body1="${name}_fingertip_left_link"     body2="${name}_outer_finger_left_link"/>
        <exclude body1="${name}_inner_finger_right_link" body2="${name}_outer_finger_right_link"/>
        <exclude body1="${name}_fingertip_right_link"    body2="${name}_outer_finger_right_link"/>
    </xacro:macro>


    <xacro:macro name="mj_gripper_equality" params="name anchor_r anchor_l" >
        <xacro:include filename="$(find pal_pro_gripper_description)/urdf/gripper_limits.xacro" />
        <connect name="${name}_r" body1="${name}_fingertip_right_link" body2="${name}_outer_finger_right_link"  active="true" anchor="${anchor_r}" solref="0.005 1" solimp="0.95 0.99 0.001"/>
        <connect name="${name}_l" body1="${name}_fingertip_left_link" body2="${name}_outer_finger_left_link" active="true"  anchor="${anchor_l}" solref="0.005 1" solimp="0.95 0.99 0.001"/>

        <joint joint1="${name}_finger_joint" joint2="${name}_outer_finger_right_joint" polycoef="0 ${1.0 / outer_finger_multiplier}  0 0 0" solref="0.005 1" solimp="0.95 0.99 0.001"/>
        <joint joint1="${name}_finger_joint" joint2="${name}_inner_finger_right_joint" polycoef="0 ${1.0 / inner_finger_multiplier}  0 0 0" solref="0.005 1" solimp="0.95 0.99 0.001"/>
        <joint joint1="${name}_finger_joint" joint2="${name}_fingertip_right_joint"    polycoef="0 ${1.0 / fingertip_multiplier}  0 0 0"  solref="0.005 1" solimp="0.95 0.99 0.001"/>
        <joint joint1="${name}_finger_joint" joint2="${name}_finger_right_joint"       polycoef="0 ${1.0 / finger_right_joint_multiplier} 0 0 0"  solref="0.005 1" solimp="0.95 0.99 0.001"/>
        <joint joint1="${name}_finger_joint" joint2="${name}_outer_finger_left_joint"  polycoef="0 ${1.0 / outer_finger_multiplier}  0 0 0" solref="0.005 1" solimp="0.95 0.99 0.001"/>
        <joint joint1="${name}_finger_joint" joint2="${name}_inner_finger_left_joint"  polycoef="0 ${1.0 / inner_finger_multiplier}  0 0 0" solref="0.005 1" solimp="0.95 0.99 0.001"/>
        <joint joint1="${name}_finger_joint" joint2="${name}_fingertip_left_joint"     polycoef="0 ${1.0 / fingertip_multiplier}  0 0 0"  solref="0.005 1" solimp="0.95 0.99 0.001"/>
    </xacro:macro>

    <xacro:macro name="mj_gripper_actuator_pose" params="property_name">
        <xacro:property name="${property_name}" value="0" scope="parent"/>
    </xacro:macro>

    <xacro:macro name="mj_gripper_pose" params="property_name">
        <xacro:property name="${property_name}" value="0 0 0 0 0 0 0 0" scope="parent"/>
    </xacro:macro>

</robot>