<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="pal_pro_gripper">

    <xacro:macro name="mj_gripper_actuators" params="name">
        <xacro:if value="${mj_control == 'position' or mj_control == 'motor'}">
            <position name="${name}_position" joint="${name}_inner_finger_left_joint" kp="100" ctrlrange=" 0 0.802851 " />
        </xacro:if>
    </xacro:macro>


    <xacro:macro name="mj_gripper_contact" params="name">
        <exclude body1="${name}_inner_finger_left_link"  body2="${name}_outer_finger_left_link"/>
        <exclude body1="${name}_fingertip_left_link"     body2="${name}_outer_finger_left_link"/>
        <exclude body1="${name}_inner_finger_right_link" body2="${name}_outer_finger_right_link"/>
        <exclude body1="${name}_fingertip_right_link"    body2="${name}_outer_finger_right_link"/>
    </xacro:macro>

    
    <xacro:macro name="mj_gripper_equality" params="name anchor_r anchor_l" >
        <connect name="${name}_r" body1="${name}_fingertip_right_link" body2="${name}_outer_finger_right_link"  active="true" anchor="${anchor_r}" solref="0.005 1" solimp="0.95 0.99 0.001"/>
        <connect name="${name}_l" body1="${name}_fingertip_left_link" body2="${name}_outer_finger_left_link" active="true"  anchor="${anchor_l}" solref="0.005 1" solimp="0.95 0.99 0.001"/>
        <joint joint1="${name}_inner_finger_left_joint" joint2="${name}_inner_finger_right_joint" polycoef="0 1 0 0 0" solref="0.005 1" solimp="0.95 0.99 0.001"/>  
    </xacro:macro>

    
</robot>