<?xml version="1.0" ?>

<robot name="pal_pro_gripper"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- ARGUMENTS  -->

    <!-- False, True -->
    <xacro:arg name="tool_changer" default="False"/>

    <!-- false, true -->
    <xacro:arg name="use_sim_time" default="False"/>

     <!-- Mujoco args -->
    <xacro:arg name="sim_type" default="gazebo" />
    <xacro:arg name="mj_control" default="false" />
    <xacro:arg name="world_name" default="floor" />

    <!-- PROPERTIES -->
    <xacro:property name="tool_changer" value="$(arg tool_changer)" />
    <xacro:property name="use_sim_time" value="$(arg use_sim_time)" />
    <xacro:property name="name" value="gripper"/>

    <!-- Mujoco properties -->
    <xacro:property name="sim_type" value="$(arg sim_type)" /> 
    <xacro:property name="mj_control" value="${arg mj_control}"/>
    <xacro:property name="world_name" value="$(arg world_name)"/>

    <!-- INCLUDES -->

    <!-- Helpers -->
    <xacro:include filename="$(find pal_urdf_utils)/urdf/deg_to_rad.urdf.xacro" />
    <xacro:include filename="$(find pal_urdf_utils)/urdf/materials.urdf.xacro" />

    <!-- Gripper -->
    <xacro:include filename="$(find pal_pro_gripper_description)/urdf/gripper.urdf.xacro" />

    <!-- ROS 2 control-->
    <xacro:include filename="$(find pal_pro_gripper_description)/ros2_control/ros2_control.urdf.xacro" />

    <!-- Gazebo plugins -->
    <xacro:include filename="$(find pal_pro_gripper_description)/gazebo/gazebo.urdf.xacro" />

    <!-- ROBOT DEFINITION -->

    <link name="world"/>

    <xacro:pal_pro_gripper tool_changer="${tool_changer}" name="${name}" parent="world">
        <origin xyz="0.0 0.0 0.08" rpy="0 0 0" />
    </xacro:pal_pro_gripper>

    <xacro:if value="${sim_type == 'mujoco' or sim_type == 'mujoco-ros2-control'}">
        
        <!-- MUJOCO -->
        <xacro:include filename="$(find pal_pro_gripper_description)/mujoco/mj_tags.xacro" />   
        <xacro:include filename="$(find pal_mujoco_scenes)/scenes/${world_name}.xacro" />
        
        <mujoco> 
            <!-- Mujoco environment -->
            <xacro:mj_common light_target="base_link"/>

            <!-- Contact-->
            <xacro:mj_gripper_contact name="gripper"/>

            <!-- Actuator-->
            <xacro:if value="${sim_type == 'mujoco'}">
                <!-- Equality-->
                <xacro:mj_gripper_equality name="gripper" anchor_r="0.014 -0.0015 0" anchor_l="0.014 -0.001 0"/>
                
                <actuator>
                    <xacro:mj_gripper_actuators name="gripper"/>
                </actuator>
            </xacro:if>
        </mujoco>  
    </xacro:if>

    <!-- ROS 2 Control -->
    <xacro:pal_pro_gripper_ros2_control />

</robot>
